<dx-data-grid id="gridContainer" [dataSource]="dataSource" (onRowUpdating)="onRowUpdating($event)"
  (onInitNewRow)="onInitNewRow($event)" [allowColumnReordering]="true" [allowColumnResizing]="true"
  [columnAutoWidth]="true" [showBorders]="true">

  <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
  <dxo-paging [enabled]="true"></dxo-paging>
  <dxo-state-storing [enabled]="true" type="localStorage" storageKey="rolListesiGrid"></dxo-state-storing>
  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]"></dxo-pager>
  <dxo-editing mode="popup" [allowAdding]="true" [allowUpdating]="false" [allowDeleting]="true">
  </dxo-editing>
  <dxo-search-panel [visible]="true" [width]="240" placeholder="Ara"></dxo-search-panel>
  <dxi-column dataField="yetkiId" caption="Yetki">
    <dxo-lookup [dataSource]="yetkiler" displayExpr="ad" valueExpr="id">
    </dxo-lookup>
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="rolId" caption="Rol">
    <dxo-lookup [dataSource]="roller" displayExpr="ad" valueExpr="id">
    </dxo-lookup>
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
</dx-data-grid>